* {
  margin: 0;
}



.App {
  background-color: #111;
  /* position: relative; */
}

.row {
  margin-left: 10px;
  color: white;
}

.row_posters {
  display: flex;
  /* removing scroll bar*/
  overflow-y: hidden;
  padding: 20px;
  overflow-x: scroll;
  /* ading scroll bar*/
}

.row_posters::-webkit-scrollbar {
  display: none;
  /* hide the scroll bar in posters */
}

.row_poster {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 250ms;
  cursor: pointer;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}